{% extends "base.html.twig" %}

{% block body %}
    <!-- banner -->
    <div class="inside-banner">
        <div class="container"> 
            <span class="pull-right"><a href="{{ path('home') }}">Home</a> / Buy, Sale & Rent</span>
            <h2>Buy, Sale & Rent</h2>
        </div>
    </div>
    <!-- banner -->


    <div class="container">
        <div class="properties-listing spacer">

            <div class="row">
                <div class="col-lg-3 col-sm-4 ">

                    <div class="search-form">
                        <h4>
                            <span class="glyphicon glyphicon-search"></span> Search for
                        </h4>
                        {{ form_start(form) }}
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_row(form.minSurface) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_row(form.maxPrice) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(form.city) }}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Find Now</button>
                            {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>



                    <div class="hot-properties hidden-xs">
                        <h4>Hot Properties</h4>
                        <div class="row">
                            <div class="col-lg-4 col-sm-5"><img src="/front/images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                            <div class="col-lg-8 col-sm-7">
                                <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                                <p class="price">$300,000</p> </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-5"><img src="/front/images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                            <div class="col-lg-8 col-sm-7">
                                <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                                <p class="price">$300,000</p> </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-sm-5"><img src="/front/images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                            <div class="col-lg-8 col-sm-7">
                                <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                                <p class="price">$300,000</p> </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-sm-5"><img src="/front/images/properties/1.jpg" class="img-responsive img-circle" alt="properties"></div>
                            <div class="col-lg-8 col-sm-7">
                                <h5><a href="property-detail.php">Integer sed porta quam</a></h5>
                                <p class="price">$300,000</p> </div>
                        </div>

                    </div>


                </div>

                <div class="col-lg-9 col-sm-8">
                    <div class="sortby clearfix">
                        <div class="pull-left result">Showing: 12 of 100 </div>
                        <div class="pull-right">
                            <select class="form-control">
                                <option>Sort by</option>
                                <option>Price: Low to High</option>
                                <option>Price: High to Low</option>
                            </select></div>

                    </div>
                    <div class="row">

                        <div class="row">
                            {% for property in properties %}
                                <!-- properties -->
                                <div class="col-lg-4 col-sm-6">
                                    <div class="properties">
                                        <div class="image-holder"><img src="/front/images/properties/1.jpg" class="img-responsive" alt="properties">
                                            <div class="status sold">Sold</div>
                                        </div>
                                        <h4><a href="{{ path('property.show', {slug: property.slug, id: property.id}) }}">{{ property.title }}</a></h4>
                                        <p class="price">Price: ${{ property.FormattedPrice }}</p>
                                        <div class="listing-detail">
                                            <span data-toggle="tooltip" data-placement="bottom" data-original-title="Rooms">{{ property.rooms }}</span> 
                                            <span data-toggle="tooltip" data-placement="bottom" data-original-title="BedRooms">{{ property.bedrooms }}</span> 
                                            <span data-toggle="tooltip" data-placement="bottom" data-original-title="Surface">{{ property.surface }}</span> 
                                            <span data-toggle="tooltip" data-placement="bottom" data-original-title="Floor">{{ property.floor }}</span> 
                                        </div>
                                        <a class="btn btn-primary" href="{{ path('property.show', {slug: property.slug, id: property.id}) }}">View Details</a>
                                    </div>
                                </div>
                                <!-- properties -->
                            {% endfor %}
                        </div>

                        <div class="row">
                            <div class="center">
                                <div class="pagination">
                                    {{ knp_pagination_render(properties) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}